html, body, #map {
            height: 100%;
            width: 100%;
            margin: 0px;
        }
.controls {
            position: absolute;
			left: 10px;
			top: 11px;
			z-index: 1000;
			background-color: #ffffff;
			border-radius: 5px;
            box-shadow: 0 1px 7px rgba(0,0,0,0.65);
        }

.controls_date {

			position: absolute;
			left: 50px;
			top: 10px;
			z-index: 1000;
			background-color: #ffffff;
			border-radius: 5px;
            box-shadow: 0 1px 7px rgba(0,0,0,0.65);
            font: 400 13.5px/1.3 Open Sans,Arial,sans-serif;
    		padding: 4px 0 1px 0;
}

.legend_news {
			position: absolute;
			width: 376px;
			right: 10px;
			bottom: 25px;
			z-index: 1000;
			background-color: #ffffff;
			border-radius: 5px;
            box-shadow: 0 1px 7px rgba(0,0,0,0.65);
            font: 400 14px/1.3 Open Sans,Arial,sans-serif;
    		padding: 5px;
    		font-family: 'Source Sans Pro', sans-serif;
    		font-size: 10px;
}

.legend_news img{
	width: 13px;
	margin:3px 4px 0 10px;
}
        
        
.controls > div{
            padding: 4px;
        }

.prev_button {

	background:url(../img/left_arrow1.png) no-repeat 5px 0;
	width: 25px;
	height: 25px;
	background-size: 24px 24px; 
	cursor: pointer;
}

.next_button {

	background:url(../img/right_arrow1.png) no-repeat;
	width: 25px;
	height: 25px;
	background-size: 24px 24px;
	cursor: pointer;
}

.global_map {
	position: absolute;
	height: 100%;
	width: 100%;
}

.leaflet-control-scale-line {
	width: 110px;
	color: black;
	margin:0 0 5px 0;

}

.leaflet-control-layers-overlays {
	padding: 12px;
}
.leaflet-control-layers-separator {
	margin:0;
}


/*Headers*/

.title_map {
    text-shadow: 0 5px 15px rgba(26,26,27,.92);
    color: #2d2b2b;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 3em;
    line-height: 1.2;
    margin: 20px auto;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 1111;
}

.legend {
	text-align: center;
    width: 20px;
    position: absolute;
    top: 33px;
    right: 226px;
    z-index: 1111;
}

.leg1{
	background-color: #7a0010;
	width: 100%;
	height: 28px;
	margin: 10px;
}

.leg2{
	background-color: red;
	width: 100%;
	height: 28px;
	margin:10px;
}


/*CUSTOM MARKEERS*/

.leaflet-marker-pane .marker-cluster-small {
  background-color: rgba(255, 226, 163, 0.62);
}

.leaflet-marker-pane .marker-cluster-small div {
  background-color: rgba(246, 174, 92, 0.58);
}

.leaflet-marker-pane .marker-cluster-medium {
  background-color: rgba(241, 171, 87, 0.56);
}

.marker-cluster-medium div {
  background-color: rgba(253, 150, 48, 0.53);
}

.marker-cluster-large {
  background-color: rgba(247, 125, 74, 0.85);
}

.marker-cluster-large div {
  background-color: rgb(245, 142, 96);
}

.marker-circled {
  border: 3px solid hsla(0, 50%, 50%, 0.75);
  border-radius: 30px;
  width: 20px;
  height: 20px;
}

/*custom leaflet*/

div.leaflet-control-layers-overlays {
	padding: 30px;
    font-size: 22px;
}

input.leaflet-control-layers-selector {
	font-size: 21px;
    vertical-align: super;
    margin: 0px 40px 20px 0;

}
